@media (max-width: 640px) {
  .our-box {
    display: flex;
    flex-direction: column;
   
    width: 100%;
    height: auto;
  }
  .our {
    width: 100%;
    height: auto;
    padding: 10px;
    display: block;
    margin-bottom: 10%;
    
  }
  .our ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-left: 30%;
  }
  .our h3 {
    margin-bottom: 10px;
    right: 20%;
    min-width:300px;
    font-size: 16px;
    
  }

  .our ul li {
    width: 200px;
    height: 20px;
  }
  .copy-box img {
    width: auto;
    height: 20px;
  }
  .copy-box h3 {
    font-size: 12px;
  }
  .dir {
    
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  .dir-box{
    padding: 0;
  }
  .dir h1{
    width: 100%;
    height: 20px;
    font-size: 18px;
  }
  .dir h2{
    margin-top: 5px;
    width: 100%;
    height: 20px;
    font-size: 12px;
  }
  .dir h5{
    margin-top:5px;
    width: 100%;
    height: auto;

    font-size: 10px;
  }
}
