@media only screen and (max-width:1200px){
 
  
body{
  .text-bar h2 {
    font-size: 25px;
    
    
  }
  
  .text-bar h1 {
    font-size: 40px;
    margin-top: 20px;
   
  }
  
  .text-bar p {
    font-size:20px;
    margin-top: 20px;
    
  }
  
  .text-bar button {
 font-size: 15px;
 margin-top: 20px;
  }
}
}

@media only screen and (max-width:768px){
 
  
  body{
    .text-bar h2 {
      font-size: 20px;
      
      
    }
    
    .text-bar h1 {
      font-size: 30px;
      margin-top: 10px;
     
    }
    
    .text-bar p {
      font-size:15px;
      margin-top: 10px;
      
    }
    
    .text-bar button {
   font-size: 10px;
   margin-top: 10px;
    }
  }
  }